/* Add styles for your app here */

/* Use UI System fonts and colors,
   see: https://www.sitepoint.com/css-system-styles/ */
body {
    font: caption;
    color: WindowText;
    background-color: Window;
}

/* Hide printers box by default */
.printer-list {
    display: none;
}

/* Activate printers box, dynamically added by printers.js */
.printer-list-active {
    display: initial;
}

/* Make UI Text not selectable */
.ui-text {
    -webkit-user-select: none;
}

.pane.sidebar .list-group .list-group-item{
    border: none;
    border-top: 1px solid #ddd;
    background-color: rgba(0,0,0,0);
}
.pane.sidebar .list-group  .list-group-item.active, 
.pane.sidebar .list-group .list-group-item.selected {
    color: #fff;
    background-color: #116cd6;
}


.pane.sidebar .list-group .list-group-item:last-child{
    border-bottom:1px solid #ddd
}

div.pane.sidebar + div.pane{
    padding-left: 10px;
}

.pane.sidebar .list-group .list-group-item .icon{
    margin-right: 5px;
}

/* indicator step1 */
.container.indicator-step-1 h4{
    margin-top: 0;
}

table.table tr.selected,
table.table-striped tr.selected{
    background-color: #6eb4f7;
}