<div data-ng-show="home.withoutDatasources && !home.showDatabase">
    <h3>Para empezar, configure sus fuentes de datos:</h3>
    <md-list>
        <md-list-item>
            <span>1. Haga click en "Conectar Base de datos" &oacute; en "Conectar archivo"</span>
        </md-list-item>
        <md-list-item>
            <span>2. Llene los datos de conexi&oacute;n, &oacute; busque el archivo</span>
        </md-list-item>
        <md-list-item>
            <span>3. Indique el nombre con el que quiere guardar la conexi&oacute;n</span>
        </md-list-item>
    </md-list>
</div>
<div data-ng-show="home.showDatabase">
    <h3>Base de datos: {{home.databaseName}}</h3>

    <label for="">{{home.saveDatabaseLabel}}</label>
    <md-input-container data-ng-form="conection">
        <label>Nombre de conexi&oacute;n</label>
        <input type="text" data-ng-model="home.conectionName" required name="name">
        <div ng-messages="conection.name.$error">
            <div ng-message="required">El campo es requerido!</div>
        </div>
    </md-input-container>
    <md-button class="md-raised md-primary" data-ng-click="home.saveDatabase()">
        Guardar
    </md-button>
    

</div>
<h4 data-ng-show="home.showDatabase">Vista Previa: Listado de tablas encontradas</h4>
<md-table-container data-ng-show="home.showDatabase">
<table md-table>
    <thead md-head md-order="home.query.order" >
    <tr md-row>
        <th md-column md-order><span>Nombre</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="row" ng-repeat="row in home.tables | filter: home.query.filter | orderBy: home.query.order | limitTo: home.query.limit: (home.query.page -1) * home.query.limit">
        <td md-cell >{{row}}</td>
    </tr>
    </tbody>
</table>
</md-table-container>
<md-table-pagination data-ng-show="home.showDatabase" md-limit="home.query.limit" md-limit-options="[20, 50, 100]" md-page="home.query.page" md-total="{{ (home.tables | filter: home.query.filter).length }}"  md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>

<h4 data-ng-show="home.showIndicatorsSync">Indicadores activos</h4>
<md-toolbar class="md-table-toolbar md-default" data-ng-show="home.showIndicatorsSync" aria-hidden="false">
<div class="md-toolbar-tools">
    <ng-md-icon icon="search"></ng-md-icon>
    <form flex=""  class="flex">
    <input type="text" data-ng-model="configureIndicator.indicatorsQuery.filter" placeholder="Buscar">
    </form>
</div>
</md-toolbar>
<md-table-container data-ng-show="home.showIndicatorsSync">
<table md-table>
    <thead md-head md-order="home.indicatorsQuery.order" >
    <tr md-row>
        <th md-column md-order-by="title"><span>Nombre</span></th>
        <th md-column md-order-by="lastDateSynced"><span>Ultimo periodo sincronizado</span></th>
        <th md-column><span>Acciones</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="row" ng-repeat="row in home.indicators | filter: home.indicatorsQuery.filter | orderBy: home.indicatorsQuery.order | limitTo: home.indicatorsQuery.limit: (home.indicatorsQuery.page -1) * home.indicatorsQuery.limit">
        <td md-cell>{{row.title}}</td>
        <td md-cell>{{row.lastDateSynced || (row.status === 'syncing' && 'SINCRONIZANDO' || 'NUNCA')}}</td>
        <td md-cell>
            <md-button class="md-primary" data-ng-show="row.status !== 'syncing' && row.status !== 'updated'" data-ng-click="home.sync(row)">Sincronizar</md-button>
            <md-progress-circular data-ng-show="row.status === 'syncing'" md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            <md-label class="md-primary" data-ng-show="row.status === 'updated'" >Actualizado!</md-label>
        </td>
    </tr>
    </tbody>
</table>
</md-table-container>
<md-table-pagination data-ng-show="home.showIndicatorsSync" md-limit="home.indicatorsQuery.limit" md-limit-options="[20, 50, 100]" md-page="home.indicatorsQuery.page" md-total="{{ (home.indicators | filter: home.indicatorsQuery.filter).length }}"  md-page-select md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"></md-table-pagination>
